* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-color: #3399cc;
}

/* .container{
    max-width: 1230px;
    padding: 0 15px;
} */
body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--base-color);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo-header img {
    height: 40px;
}



.user-action .action {
    display: none;
}

.user-action ul {
    position: absolute;
    top: 120%;
    right: 50px;
    background-color: var(--base-color);
    font-size: 14px;
}

.cart-action:hover ul {
    display: block;
}

.user-action .action a:hover {
    color: pink;
}

.action li {
    padding: 8px;
    border-bottom: 1px solid #e6e8f3;
}

.ul-reset {
    margin: 0;
    padding: 0;
}

.ul-reset li {
    list-style: none;
}

.user .ul-reset li {
    padding: 5px;
    border-bottom: 1px solid #99CCFF;
}

.ul-reset a {
    text-decoration: none;
    color: white;
}

.search-form {
    padding: 4px;
}

.header-shop-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.search-header {
    flex: 1;
    max-width: 70%;
}

.logo-footer img {
    width: 180px;
}

.user-header {
    display: flex;
    align-items: center;
}

.user-header .user-action {
    margin-right: 20px;
    cursor: pointer;
}

.user i:first-child {
    background-color: #336699;
    padding: 6px 8px;
    border-radius: 3px;
}
.user{
    background-color: #336699;
    border-radius: 5px;
}
.user i:hover{
    box-shadow: rgba(255, 254, 254, 0.35) 0px 5px 15px;
    background-color: #99CCFF;
    transition: 0.3s;
}

.cart-action i:hover{
    box-shadow: rgba(255, 254, 254, 0.35) 0px 5px 15px;
    background-color: #99CCFF;
    transition: 0.3s;
}
.cart-action i {
    background-color: #336699;
    padding: 6px;
    border-radius: 3px;
}

.cart-action {
    position: relative;
}

.cart-action span {
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 12px;
}

.item-banner img {
    width: 100%;
    aspect-ratio: 2.5;
    object-fit: cover;
}

.category-slide {
    background-color: #fff;
    border-radius: 5px;
}

.category-slide img {
    width: 100%;
    aspect-ratio: 1;
}

.category-slide .img {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    margin: 0 auto;
}

.item-category-home {
    text-align: center;
    padding: 20px 0;
    border-right: 1px solid #dfdfdf;
    height: 100%;
}

.item-category-home:first-child {
    border-left: 1px solid #dfdfdf;
}

.tintuc-slide-home .slick-slide {
    margin: 0 10px;
}

.tintuc-slide-home .slick-list {
    margin: 0 -10px;
}

.name-category-home {
    margin-top: 20px;
}

.name-category-home a {
    text-decoration: none;
    color: black;
}

.name-category-home a:hover {
    color: var(--base-color);
    font-weight: bold;
}

.item-tintuc-home img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 2;
}

.sell-product {
    background-color: #FFF;
    padding: 20px;
}

.sell-product .left-title {
    color: var(--base-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.sell-product .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sell-product .right-title a {
    text-decoration: none;
    color: var(--base-color);
}

.item-sell-product {
    border: 1px solid #e5e5e5;
}

.discount {
    position: absolute;
    top: 0;
    right: 5px;
    color: #fff;
    background-color: #f00;
    padding: 8px 4px;
    font-size: 11px;
    font-weight: 600;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 85%, 50% 85%, 0 100%);
}

.item-sell-product img {

    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.item-sell-product .img {
    position: relative;
    border: 5px solid var(--base-color);
}

.item-sell-product .body a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.item-sell-product .body {
    height: 120px;
    padding: 10px;
}

.item-sell-product .body a:hover {
    color: var(--base-color);
    font-weight: bold;
}

.price-discount {
    margin-top: 8px;
    font-size: 14px;
    opacity: 0.6;
    height: 25px;
}

.body .price {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.list-sell-product .slick-slide {
    margin: 0 5px;
}

.list-sell-product .slick-list {
    margin: 0 -5px;
}

.name-product-sell {
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title-shopping {
    color: var(--base-color);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.item-product-shopping {
    background-color: #fff;
    border-radius: 5px;
}

.item-product-shopping a {
    color: black;
    text-decoration: none;
}

.item-product-shopping a:hover {
    color: var(--base-color);
    font-weight: bold;
}

.item-product-shopping img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.item-product-shopping .body {
    height: 120px;
    padding: 10px;
    font-size: 14px;
}

.item-product-shopping .name-product-shopping {
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-shopping .xemthem {
    display: inline-block;
    margin-top: 15px;
    color: #222647;
    border-radius: 5px;
    border: 1px solid #222647;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.3s;
}

.product-shopping .xemthem:hover {
    background-color: #222647;
    color: #FFF;
    transition: all 0.3s ease;
}

footer {
    background-color: #e6e8f3;
    margin-top: 40px;
    padding: 40px 0;
}

.footer a {
    color: black;
    font-size: 12px;
}

.footer a:hover {
    color: var(--base-color);
}

.footer li {
    padding: 3px 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.copy-right {
    background-color: #e6e8f3;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
}

.item-breadcrumb {
    margin: 10px 0;
}

.box-detail-product {
    background-color: #FFF;
}

.product-img-list {
    border: 1px solid #e6e8f3;
    padding: 5px;
}

.product-img-list .item img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
}

.product-img-nav img {
    width: 100%;
    aspect-ratio: 1;
}

.product-img-nav {
    margin-top: 10px;
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: -10px;
    z-index: 99;
    cursor: pointer;
    font-size: 30px;
    color: #9c9c9c;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 99;
    cursor: pointer;
    font-size: 30px;
    color: #888888;
}

.bar-mobile {
    display: none;
    cursor: pointer;
}

.menu-mobile {
    background-color: rgba(0, 0, 0, 0.8);
    width: 0;
    height: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-wrap: nowrap;
}

.menu-mobile li {
    margin-bottom: 20px;
}

.menu-mobile a {
    padding: 10px 0;
}

.menu-mobile a:hover {
    color: var(--base-color);
}

.menu-mobile a {
    position: relative;
}

.menu-mobile a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--base-color);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.menu-mobile a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.close-mobile {
    cursor: pointer;
    margin-bottom: 20px;
    float: right;
}

.menu-mobile .ul-reset {
    clear: both;
}

.box-product-detail .name-product {
    color: #27272a;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
    text-transform: capitalize;
}

.box-price-detail {
    background-color: #f5f5f5;
    padding: 10px;
}

.box-price-detail .price-new {
    color: red;
    font-weight: bold;
    font-size: 28px;
}

.price-old {
    font-size: 14px;
    opacity: 0.5;
    margin-right: 10px;
}

.percent {
    font-size: 14px;
    color: red;
}

.box-des-detail {
    font-size: 14px;
    margin: 14px 0;
}

.product-content-des span a {
    color: var(--base-color);
    text-decoration: none;
    text-transform: capitalize;
}

.count-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.count-product input {
    width: 40px !important;
    border-left: 0.25px #e3e3e3 solid;
    border-right: 0.25px #e3e3e3 solid;
    border-color: transparent;
}

.count-product button {
    background: #fff;
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.quantity {
    border: 0.25px #e3e3e3 solid;
}

.too-product {
    background-color: #fff;
    padding: 20px 10px;
}

.too-product .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.too-product .xemthem {
    color: var(--base-color);
    text-decoration: none;
    font-weight: 500;
}

.list-too-product img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.list-too-product .name-product-too {
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-too-product .slick-slide {
    margin: 5px 5px;
}

.list-too-product .slick-list {
    margin: -5px -5px;
}

.list-too-product a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.list-too-product a:hover {
    color: var(--base-color);
    font-weight: bold;
}

.list-too-product .item {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.list-too-product .body {
    padding: 10px;
}
.des-too-product{
    background-color: #fff;
    padding: 10px;
}
.des-too-product .title{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.des-too-product .des{
    text-align: justify;
}
.slideBar-filter{
    background-color: #fff;
    padding: 15px;
    
}
.slideBar-filter .title{
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}
.slideBar-filter .list-category{
    display: flex;
    flex-direction: column;
}
.slideBar-filter .list-category a{
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
}
.slideBar-filter .list-category a:hover{
    color: var(--base-color);
    font-weight: 500;
}
.slideBar-filter .category{
    margin-bottom: 30px;
}

.list-filter a{
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}
.slideBar-filter .filter{
    margin-bottom: 30px;
}
.box-search-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-price button{
    width: 100%;
    margin-top: 15px;
}
.list-all-product img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.list-all-product .item-product a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.list-all-product .item-product a:hover{
    color: var(--base-color);
    font-weight: 500;
}
.list-all-product .name-product{
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.list-all-product .item-product .body{
    padding: 8px;
}
.list-all-product .item-product{
    background-color: #fff;
}
.list-all-product .xemthem {
    display: inline-block;
    margin-top: 30px;
    color: #222647;
    border-radius: 5px;
    border: 1px solid #222647;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.3s;
}

.list-all-product .xemthem:hover {
    background-color: #222647;
    color: #FFF;
    transition: all 0.3s ease;
}
.box-item-cart{
    background-color: #fff;
    
}
.list-cart-item .title{
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #f0eeee;
}
.box-total-cart{
    background-color: #fff;
}
.list-item .img img{
    width: 90px;
    object-fit: cover;
    aspect-ratio: 1;
}
.list-item .img{
    margin-right: 10px;
}
.list-item .item{
    padding: 15px;
    border-bottom: 1px solid #cacaca;
    display: flex;
    align-items: center;
}
.list-item .box-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
} 
.list-item .body{
    flex: 1;
    margin-right: 20px;
}
.list-item .name-product{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.list-item .price{
    display: flex;
    align-items: center;
}
.list-item .quantity{
    display: flex;
}
.list-item .quantity input{
    border: none;
    width: 50px !important;
}
.total-price{
    color: red;
    font-weight: 500;
}
.box-total-cart .total{
    color: red;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #cacaca;
    font-size: 24px;
}
.list-cart-item a{
    margin-top: 10px;
}
.total-tamtinh{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #f0eeee;
}
.total-thanhtoan{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 2px solid #cacaca;
}
.total-thanhtoan .price-value{
    color: red;
    font-size: 24px;
}
.info-user-pay .title{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #cacaca;
    font-weight: 500;
}
.info-cart .title{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #cacaca;
    font-weight: 500;
}
.item-cart-ckeckout .item-checkout{
    padding: 10px 10px 15px 10px;
    display: flex;
    border-bottom: 1px solid #cacaca;
}
.item-checkout{
    border-bottom: 1px solid #f0eeee;
}

.item-cart-ckeckout img{
    width: 90px;
    object-fit: cover;
    aspect-ratio: 1;
}
.item-cart-ckeckout .img{
    margin-right: 10px;
}
.item-cart-ckeckout .body a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: justify;
}
.quantity-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.total-check{
    display: flex;
}
.total-check .price-new{
    font-weight: 500;
}
.ship{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.total-checkout .total-item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.total-checkout .total-order .order-value{
    color: red;
    font-size: 24px;
}
.btn-checkout{
    margin-top: 10px;
}
.total-order{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 10px;
}
.card-header{
    padding: 15px;
    color: #fff;
    background-color: #336699;
    font-size: 20px;
    font-weight: bold;
}
.card-body{
    padding: 30px;

}
.box-login .input-group-text{
    background-color: #e8e8e8;
}
.card-footer{
    padding: 15px 30px;
}
.card-footer button{
    width: 100%;
    border-radius: 24px;
}
.forgot-p{
    text-decoration: none;
    color: gray;
}
.card-line{
    margin: 32px 0;
    position: relative;
}
.card-line::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #eee;
}
.card-line span{
    position: absolute;
    background: #fff;
    z-index: 1;
    padding: 0.5rem 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.logo-header img:hover{
    filter: drop-shadow(0.2rem 0.6rem 1rem rgba(255, 255, 255, 0.8));
}